{# app/Resources/views/form/fields.html.twig #}
{% block file2_widget %}
    <div class="dynamic-file" id="{{ id }}_file_form">
      <label for="{{ id }}_file"> <a class="btn btn-default">{% trans from "nakima_media" %}upload_file{% endtrans %}</a></label>
      <input class="dynamic-file-input" id="{{ id }}_file" type="file" class="form-control" style="display:none" />
      {% if data %}
        <div class="ghost-link dynamic-file-link">
          <span><a target="_blank" class="btn btn-link" href="{{ data.downloadLink }}"><i class="fa fa-download" >&nbsp;</i>{% trans from "nakima_media" %}download{% endtrans %}</a></span>
          <span><a target="_blank" class="btn btn-link" href="#" onclick="removeFile(event, this)"><i class="fa fa-close">&nbsp;</i>{% trans from "nakima_media" %}delete{% endtrans %}</a></span>
        </div>
        <input class="dynamic-file-hidden" type="hidden" value="{{ data.id }}">
      {% else %}
        <div class="ghost ghost-link dynamic-file-link">
          <span><a target="_blank" class="btn btn-link" href="#"><i class="fa fa-download">&nbsp;</i>{% trans from "nakima_media" %}download{% endtrans %}</a></span>
          <span><a target="_blank" class="btn btn-link" href="#" onclick="removeFile(event, this)"><i class="fa fa-close">&nbsp;</i>{% trans from "nakima_media" %}delete{% endtrans %}</a></span>
        </div>
        <input class="dynamic-file-hidden" type="hidden" value="">
      {% endif %}
    </div>


    <script>
    _id("{{ id }}_file_form").addEventListener( 'change', function( event ) {
        var file = event.target.files[0];
        var path = "{{ url(form.vars.route) }}";
        if (file) {
            if (file.size < {{ _maximumUploadSize() }}) {
                upload(path, file, "{{ full_name }}", event.target.parentNode);
            }
        }
        event.target.value = "";
    });

    function removeFile(event, element) {
      element = element.parentNode.parentNode.parentNode;
      event.preventDefault();

      element._class("ghost-link")[0].classList.add("ghost");

      var hidden = element._class("dynamic-file-hidden")[0];
      hidden.value = "";
    }

    function upload(path, file, name, element) {
        var xhr = new XMLHttpRequest();
        xhr.withCredentials = true;
        xhr.upload.addEventListener('progress', function(event) {
          var pc = parseInt(100 - (event.loaded / event.total * 100));
          if (pc) {
            element._tag('label')[0]._tag('a')[0].innerText = '{% trans from "nakima_media" %}delete{% endtrans %}' + " ( " + pc + "% )";
            //console.log(pc);
          }
        });
        xhr.onreadystatechange = function(event) {
          if (xhr.readyState == 4) {
            //bar.style.width = "100%";
            if (xhr.status == 200) {
              var media = JSON.parse(xhr.response);

              element._class("dynamic-file-input")[0].value = "";
              var links =element._class("ghost-link")[0];
              links.classList.remove('ghost');

              links._tag('a')[0].href = media.media.downloadLink;

              var hidden = element._class("dynamic-file-hidden")[0];
              hidden.value = media.media.id;
              hidden.name = name;

              element._tag('label')[0]._tag('a')[0].innerText = '{% trans from "nakima_media" %}delete{% endtrans %}';

            } else {
              console.log('error');
            }
          }
        };

        var formData = new FormData();
        formData.append("media", file);
        xhr.open("POST", path, true);
        xhr.send(formData);
      }
    </script>
{% endblock %}

{# app/Resources/views/form/fields.html.twig #}
{% block image2_widget %}
    <div class="dynamic-file" id="{{ id }}_file_form">
      <label for="{{ id }}_file"> <a class="btn btn-default">{% trans from "nakima_media" %}upload_file{% endtrans %}</a></label>
      <input class="dynamic-file-input" id="{{ id }}_file" type="file" class="form-control" style="display:none" onchange="updateUserImage(event)"/>
      {% if data %}
        <div class="ghost-link dynamic-file-link">
          <img class="img-responsive" id="{{ id }}_file_image" src="{{ data.downloadLink }}" height="200px" style="height:200px">
          <span><a target="_blank" class="btn btn-link" href="{{ data.downloadLink }}"><i class="fa fa-download" >&nbsp;</i>{% trans from "nakima_media" %}download{% endtrans %}</a></span>
          <span><a target="_blank" class="btn btn-link" href="#" onclick="removeFile(event, this)"><i class="fa fa-close">&nbsp;</i>{% trans from "nakima_media" %}delete{% endtrans %}</a></span>
        </div>
        <input class="dynamic-file-hidden" type="hidden" name="{{ full_name }}" value="{{ data.id }}" onchange="updateUserImage(event, this)">
      {% else %}
        <div class="ghost ghost-link dynamic-file-link">
          <img class="img-responsive" id="{{ id }}_file_image" src="{url}" height="200px" style="height:200px">
          <span><a target="_blank" class="btn btn-link" href="#"><i class="fa fa-download">&nbsp;</i>{% trans from "nakima_media" %}download{% endtrans %}</a></span>
          <span><a target="_blank" class="btn btn-link" href="#" onclick="removeFile(event, this)"><i class="fa fa-close">&nbsp;</i>{% trans from "nakima_media" %}delete{% endtrans %}</a></span>
        </div>
        <input class="dynamic-file-hidden" type="hidden" name="{{ full_name }}" value="" onchange="updateUserImage(event, this)">
      {% endif %}
    </div>


    <script>
    function updateUserImage( event, dom ) {
        var file = event.target.files[0];
        var path = "{{ url(form.vars.route) }}";

        if (file) {
            if (file.size < {{ _maximumUploadSize() }}) {
                upload(path, file, "{{ full_name }}", event.target.parentNode);
            }
        }
        event.target.value = "";
    };

    function removeFile(event, element) {
      element = element.parentNode.parentNode.parentNode;
      event.preventDefault();

      element._class("ghost-link")[0].classList.add("ghost");

      var hidden = element._class("dynamic-file-hidden")[0];
      hidden.value = "";
    }

    function upload(path, file, name, element) {

        var xhr = new XMLHttpRequest();
        xhr.withCredentials = true;
        xhr.upload.addEventListener('progress', function(event) {
          var pc = parseInt(100 - (event.loaded / event.total * 100));
          if (pc) {
            element._tag('label')[0]._tag('a')[0].innerText = '{% trans from "nakima_media" %}upload_file{% endtrans %}' + " ( " + pc + "% )";
          }
        });
        xhr.onreadystatechange = function(event) {
          if (xhr.readyState == 4) {
            //bar.style.width = "100%";
            if (xhr.status == 200) {

              var media = JSON.parse(xhr.response);
              element._put("url", media.media.downloadLink);
              element._class("dynamic-file-input")[0].value = "";
              var links = element._class("ghost-link")[0];
              links.classList.remove('ghost');

              element._tag('img')[0].src = media.media.downloadLink;

              links._tag('a')[0].href = media.media.downloadLink;

              var hidden = element._class("dynamic-file-hidden")[0];
              hidden.value = media.media.id;

              element._tag('label')[0]._tag('a')[0].innerText = '{% trans from "nakima_media" %}upload_file{% endtrans %}';
            } else {
              console.log('error');
            }
          }
        };

        var formData = new FormData();
        formData.append("media", file);
        xhr.open("POST", path, true);
        xhr.send(formData);
      }
    </script>
{% endblock %}

{% block media_widget %}
    {% spaceless %}
        <style>
            .dont-break-out {
              /* These are technically the same, but use both */
              overflow-wrap: break-word;
              word-wrap: break-word;

              -ms-word-break: break-all;
              /* This is the dangerous one in WebKit, as it breaks things wherever */
              word-break: break-all;
              /* Instead use this non-standard one: */
              word-break: break-word;

              /* Adds a hyphen where the word breaks, if supported (No Blink) */
              -ms-hyphens: auto;
              -moz-hyphens: auto;
              -webkit-hyphens: auto;
              hyphens: auto;
            }
        </style>
        <input id="{{ id }}_file" type="file" class="form-control" name="{{ full_name }}[file]" />

        <div class="row" style="margin-top:10px">
            <div class="col-md-4">
                <img id="{{ id }}_preview" class="img-responsive" src="{% if data %}{{ data.completePath }}{% endif %}">
            </div>
            <div class="col-md-6">
                <table  class="table table-responsive table-bordered" >
                    <tbody>
                        <tr><td class="dont-break-out col-md-6"><b>Nombre de fichero: </b></td><td class="dont-break-out col-md-6" id="{{ id }}_name">{% if data %}{{ data.name }}{% endif %}</td></tr>
                        <tr><td class="dont-break-out col-md-6"><b>Tamaño: </b></td><td class="dont-break-out col-md-6" id="{{ id }}_size">{% if data %}{{ data.size }}{% endif %}</td></tr>
                        <tr><td class="dont-break-out col-md-6"><b>Tipo: </b></td><td class="dont-break-out col-md-6" id="{{ id }}_type">{% if data %}{{ data.mime }}{% endif %}</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script>

            function getSize(s) {
                var values = ["B", "KB", "GB", "TB", "PB", "PB", "EB", "ZB", "YB"];
                var index = 0;

                while (s >= 1024) {
                    index++;
                    s = s / 1024;
                }

                return Math.round(s * 100) / 100 + " " + values[index];
            }

            (function () {
                var input = _id('{{ id }}_file');
                var preview = _id('{{ id }}_preview');

                input.addEventListener('change', function(event) {
                    var file = event.target.files[0];
                    if (file) {
                        _id('{{ id }}_name').innerHTML = file.name;

                        var size = getSize(file.size);
                        _id('{{ id }}_size').innerHTML = size;
                        _id('{{ id }}_type').innerHTML = file.type;
                        if (file.type.startsWith("image/")) {
                            if (file.size > 2000000) {
                                input.data = "";
                                alert("La imatge és massa gran");
                            } else {
                                var reader = new FileReader();
                                reader.readAsDataURL(file);
                                reader.addEventListener('load', function(event) {
                                    preview.src = event.target.result;
                                });
                            }
                        } else {
                        }
                    }
                }, false)
            })();
        </script>
    {% endspaceless %}
{% endblock %}